<div class="portfolio-container">
    <div class="info-btns">
        <div class="btn">Personal</div>
        <div class="btn other" [routerLink]="['/professional-info']">Professional</div>
    </div>

    <div class="resume-container">
        <div class="img-container">
            <img src="../../assets/images/profile_pic.jpg" alt="Profile Picture">
            <br>
            <h2>Rajesh J. Prabhu</h2>
        </div>
        <div class="text-container">
            <i>&ldquo; A great website is not about attractive colors or the animations. When your audience get what they want without any effort, that is the hallmark of a great website. &rdquo; <br><br> &ldquo; User Experience before anything else. &rdquo;</i>
        </div>
        <div class="tabs">
            <input type="radio" name="tabs" id="aboutme" checked="checked">
            <label for="aboutme">About Me</label>
            <div class="tab-content">
                <p>
                    I am a Front-end web developer who's passionate about web and the technologies associated with it. I aspire to be Full-Stack JavaScript Developer and consistently work on it by learning and experimenting it.
                </p> <br>
                <p>Some of my details are as follows - </p><br>
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i> <span>rprabhuofficial@gmail.com</span>
                </p> <br>
                <p>
                    <i class="fa fa-phone" aria-hidden="true"></i> <span>+91 9322417472</span>
                </p> <br>
                <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> <span>Mumbai, MH, India</span>
                </p><br>
                <p>
                    <i class="fa fa-calendar" aria-hidden="true"></i> <span>03 January, 1996</span>
                </p><br>
                <p>
                    <i class="fa fa-linkedin" aria-hidden="true"></i> <span>linkedin.com/in/rajesh-prabhu-012956104</span>
                </p><br>
                <p>
                    <i class="fa fa-github" aria-hidden="true"></i> <span>github.com/rajeshprabhu1003</span>
                </p>
            </div>
            
            <input type="radio" name="tabs" id="education">
            <label for="education">Education</label>
            <div class="tab-content">
              <p class="edu">
                <span class="course">
                    <b class="name">PGDM - I.T. Project Management (Distance Learning Program)</b><br>
                    Prin. L.N.Welingkar Institute of Management Development and Research<br>
                    <i>2017 - 2019</i>
                </span>
                <span class="percent">Percentage: 74%</span>
              </p><br>
              <hr>
              <br>
              <p class="edu">
                <span class="course">
                    <b class="name">B.E. - Computers</b><br>
                    Mumbai University<br>
                    <i>2013 - 2017</i>
                </span>
                <span class="percent">CGPA: 7.98</span>
              </p><br>
              <hr>
              <br>
              <p class="edu">
                <span class="course">
                    <b class="name">H.S.C. (12th)</b><br>
                    Maharashtra State Board<br>
                    <i>2011 - 2013</i>
                </span>
                <span class="percent">Percentage: 75.17%</span>
              </p><br>
              <hr>
              <br>
              <p class="edu">
                <span class="course">
                    <b class="name">S.S.C. (10th)</b><br>
                    Maharashtra State Board<br>
                    <i>2010 - 2011</i>
                </span>
                <span class="percent">Percentage: 91.27%</span>
              </p>
            </div>
            
            <input type="radio" name="tabs" id="strengths">
            <label for="strengths">Strengths</label>
            <div class="tab-content">
                <ul class="strengths">
                    <li>Team Player</li>
                    <li>Workhorse</li> 
                    <li>Commitment</li> 
                    <li>Self-confidence</li>
                    <li>Communication</li> 
                    <li>Proactive</li> 
                    <li>Learning Attitude</li>
                </ul>
            </div>

            <input type="radio" name="tabs" id="hobbies">
            <label for="hobbies">Hobbies</label>
            <div class="tab-content">
                <ul class="hobbies">
                    <li>Sports Commentary</li>
                    <li>Listening to Music</li> 
                    <li>Watching Football</li> 
                    <li>Singing</li>
                    <li>Reading</li> 
                    <li>Watching Youtube</li>
                </ul>
            </div>
          </div>
    </div>
</div>