<div class="portfolio-container">
    <div class="info-btns">
        <div class="btn other" [routerLink]="['/personal-info']">Personal</div>
        <div class="btn">Professional</div>
    </div>

    <div class="resume-container">
        <div class="img-container">
            <img src="../../assets/images/profile_pic.jpg" alt="Profile Picture">
            <br>
            <h2>Rajesh J. Prabhu</h2>
        </div>
        <div class="text-container">
            <i>&ldquo; I am passionate about developing web applications by continuous learning personally and applying the skills that I learn to grow professionally.
                I improve my current skills and striving to add more skills like feathers to the cap. My ultimate goal is to reach the pinnacle in the professional
                field with sheer interest, determination, dedication and by enjoying what i do. &rdquo;</i>
        </div>
        <div class="tabs">
            <input type="radio" name="tabs" id="experience" checked="checked">
            <label for="experience">Experience</label>
            <div class="tab-content">
                <div class="edu">
                <span class="course">
                    <b class="name">Associate UI Developer</b><br>
                    Ultria Software Pvt. Ltd.<br>
                    <i>Sept, 2018 - Present</i>
                </span>
                <span class="percent">Bengaluru, KA, India</span><br><br>
                <span><u>Responsibilities</u> - </span>
                <ul class="work">
                    <li>Develop front-end features on Ultria-CLM software with JavaScript, jQuery, Angular 6, SCSS.</li>
                    <li>Collaborated with AI team to develop Ultria's AI-powered Orbit features using Angular 7, SCSS, Angular Material UI.</li>
                    <li>Follow a 2-week sprint cycle to develop, test and deliver features, also called AGILE Development.</li>
                    <li>Understand Product Manager's requirements to develop features for the upcoming sprint.</li>
                    <li>Work closely with QA/QC team to provide the deliverables of the sprint and effectively complete the cycle.</li>
                </ul>
                </div><br>
                <hr>
                <br>
                <div class="edu">
                    <span class="course">
                        <b class="name">Graduate Trainee Engineer (Assistant Manager)</b><br>
                        Reliance Jio Infocomm Ltd.<br>
                        <i>Sept, 2017 - Sept, 2018</i>
                    </span>
                    <span class="percent">Navi Mumbai, MH, India<br></span><br><br>
                    <span><u>Responsibilities</u> - </span>
                    <ul class="work">
                        <li>Provide end-to-end support for inhouse as well as third-party app developers on Jio Phones.</li>
                        <li>Assist app developers and devices teams with regards to any issues related to Jio phone devices.</li>
                        <li>Create advisory for developers to follow certain standards to develop apps on Jio Phones running on KaiOS Platform.</li>
                        <li>Conduct a basic testing of the app before releasing it on Jio Store.</li>
                        <li>Test multiple devices with various OS builds and initiate a process for other testing rounds to devices team.</li>
                    </ul>
                </div>
            </div>
            
            <input type="radio" name="tabs" id="skills">
            <label for="skills">Skills</label>
            <div class="tab-content">
              <div class="skill">
                <label class="skill-set" for="html">HTML5 / CSS3</label>
                <progress id="html" value="75" max="100"></progress>75% 
              </div>
              <div class="skill">
                <label class="skill-set" for="js">JavaScript</label>
                <progress id="js" value="75" max="100"></progress>75% 
              </div>
              <div class="skill">
                <label class="skill-set" for="oojs">OOJS</label>
                <progress id="oojs" value="80" max="100"></progress>80% 
              </div>
              <div class="skill">
                <label class="skill-set" for="jq">jQuery</label>
                <progress id="jq" value="70" max="100"></progress>70% 
              </div>
              <div class="skill">
                <label class="skill-set" for="ng">Angular</label>
                <progress id="ng" value="60" max="100"></progress>60% 
              </div>
              <div class="skill">
                <label class="skill-set" for="scss">SCSS</label>
                <progress id="scss" value="65" max="100"></progress>65% 
              </div>
              <div class="skill">
                <label class="skill-set" for="node">Node.js</label>
                <progress id="node" value="55" max="100"></progress>55% 
              </div>
            </div>
            
            <input type="radio" name="tabs" id="projects">
            <label for="projects">Projects</label>
            <div class="tab-content">
                <div class="edu">
                    <span class="course">
                        <b class="name"><u>Ultria - CLM</u></b><br>
                    </span>
                    <ul class="work">
                        <li>Ultria CLM is a software that takes care of a contract's lifecycle; from it draft stage till it's signed.</li>
                        <li>It is legacy webapp that has been developed mostly in HTML/CSS, JSP, JavaScript, jQuery and some modules in Angular 6 as well.</li>
                        <li>I have worked in integrating Ultria's AI-powered software called Orbit which extracts all the relevant information within the contract.</li>
                    </ul>
                </div><br>
                <hr>
                <br>
                <div class="edu">
                    <span class="course">
                        <b class="name"><u>Ultria - Orbit</u></b><br>
                    </span>
                    <ul class="work">
                        <li>It is a relatively new app developed in the past year. Initially built to show demo for clients, it has now its own new features and the 2nd product Ultria offers.</li>
                        <li>It is an app built to extract varieties of data from the contract. It deals only with the AI extraction part.</li>
                        <li>It is developed in Angular 7, SCSS.</li>
                        <li>It has two distinct features. One deals with extracting clauses and other details from contracts and the other deals with extracting potential risks.</li>
                    </ul>
                </div>
            </div>

            <input type="radio" name="tabs" id="awards">
            <label for="awards">Awards</label>
            <div class="tab-content">
                <b class="name"><u>Individual Awards</u></b><br>
                <ul class="work">
                    <li>Awarded for developing a for a feature in Ultria-CLM</li>
                    <li>Awarded for developing an entirely new module within days in Ultria-Orbit</li>
                </ul>
                <br><hr><br>
                <b class="name"><u>Team Awards</u></b><br>
                <ul class="work">
                    <li>Awarded for over and above responsibilties for displaying extra efforts in solving issues</li>
                    <li>Awarded for a feature while developing a feature for Ultria-Orbit</li>
                </ul>
            </div>
          </div>
    </div>
</div>